.process-header {
    padding-top: 70px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #F2F2F2;
    padding-bottom: 2rem;
    
&__title {
    font-family: Manrope;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}
&__description {
    font-family: Manrope;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
}