.titulo {
    font-family: "Sofia Sans", sans-serif;
    font-weight: 900;
}

.subtitle{
    font-family: "Sofia Sans", sans-serif;
    font-weight: 700;
    line-height: 1.4;
}

.textos{
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    line-height: 1.4; 
}

.textosGrandes{
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    line-height: 1.4; 
}

