.contenedorCards {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.card { 
    background-color: #F2F2F2; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding-top: 15px;
    padding-bottom: 15px;
    width: 170px; 
    height: 280px;
    text-align: center; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    font-family: Arial, sans-serif; 
    margin: 20px;
    }


.card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.card-icon {
    width:100px; 
    height: 100px;
    margin-bottom: 5px; 
}


.card-title  {
    color: #d9d9d9; 
    font-family: "Sofia Sans", sans-serif;
    font-weight: 900;
    font-size:20px;  
    margin-bottom: 8px; 
    font-weight: bold; 
}

.card-text {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 11px; 
    line-height: 1.4; 
    text-align: center; 
    padding-left: 5px;
    padding-right: 5px;
}