.hero-intro {
    width: 100%;
    height: auto; 
    padding: 2rem 1rem;
    background: rgb(250,147,70);
    background: linear-gradient(0deg, rgba(250,147,70,1) 0%, rgba(255,107,0,1) 100%);
    position: relative;
}

.hero-intro__content {
    position: relative;
    padding-top: 15vh;
    padding-bottom: 15vh; 
}

.hero-intro__highlight {
    position: absolute;
    top: 32%;
    right: 30%;
    background-color: #3c3b3b73;
    width: 60%;
    height: 22%;
    z-index: 0;
    pointer-events: none;
}

.hero-intro__text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    z-index: 1;
    color: #F2F2F2;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    line-height: 1.4; 
    font-size: 40px;
    width: 900px;
}

.hero-intro__image {
    position: absolute;
    top: 45%;
    right: 2%;
    transform: translateY(-50%);
    height: 65vh;
    mix-blend-mode: multiply;
    z-index: 0;
}
