.hero-intro {
    width: 100%;
    height: auto; 
    padding: 2rem 1rem;
    background-color: #F2F2F2;
    position: relative;
}

.hero-intro__content {
    position: relative;
    padding-top: 15vh;
    padding-bottom: 15vh; 
}

.hero-intro__highlight {
    position: absolute;
    top: 30%;
    right: 30%;
    background-color: #DC010833;
    width: 60%;
    height: 22%;
    z-index: 0;
    pointer-events: none;
}

.hero-intro__text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    z-index: 1;
    color: #2d2d2d;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    line-height: 1.4;
    font-size: 25px;
    max-width: 750px;
}

.hero-intro__image {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    height: 50vh;
    mix-blend-mode: multiply;
    z-index: 0;
}
