.hero-intro {
    width: 100%;
    height: 200px;
    background-color: #F2F2F2;
    position: relative;
}

.hero-intro__content {
    position: relative;
    padding-top: 50px;
}

.hero-intro__highlight {
    position: absolute;
    top: 45%;
    right: 40%;
    background-color: #DC010833;
    width: 50%;
    height: 45%;
    z-index: 1;
}


.hero-intro__text {
    position: relative;
    display: flex;
    margin-left: 60px;
    z-index: 1;
    color: #2D2D2D;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 22px;
}

.hero-intro__image {
    position: absolute;
    top: 35%;
    right: 1%;
    transform: translateY(-50%);
    height: 250px;
    mix-blend-mode: multiply;
}
