.intro {
    background-color: #ff6b00;
    position: relative;
    width: 100%;
    height: 100vh;

    &__circle-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: linear-gradient(349deg, rgba(60, 59, 59, 1) 48%, rgba(255, 255, 255, 1) 100%);
        border-bottom-left-radius: 260% 200%;
        border-bottom-right-radius: 260% 200%;
        position: relative;
        overflow: hidden;
    }

    &__animated-circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1; // Capa intermedia
    }

    &__text-container {
        display: flex;
        justify-content: center;
        padding-top: clamp(100px, 45vh, 450px);
        position: relative;
        z-index: 2; // Capa superior
    }

    &__title {
        text-align: center;
        color: #F2F2F2;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 900;
        font-size: 70px;
        position: relative;
        z-index: 2; // Capa superior
    }

    &__highlight {
        color: #ff6b00;
    }
}
