.services-section {
    background-color: #242424;
    width: 100%;
    height: 95vh;
    position: relative; 
    overflow: hidden; 


    &__background-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
        opacity: 0;
        transition: opacity 0.7s ease-in-out;
        pointer-events: none;
    }

    &__background-video.visible {
        opacity: 0.5;
    }

    &__header {
        position: relative;
        z-index: 1; 
    }

    &__text-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 1;
        padding-top: 30px;
        flex-direction: column;
    }

    &__title {
        color: #FF6B00;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 30px;
        text-align: center;
        letter-spacing: 2px;
    }

    &__titleTwo {
        padding-top: 1%;
        color: #FF6B00;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 800;
        line-height: 0.9;
        font-style: normal;
        font-size: 65px;
        text-align: center;
        letter-spacing: 5px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 0.25rem;
        justify-items: center;
        position: relative;
        z-index: 1; 
    }
    &__title,
&__titleTwo {
    transition: color 0.5s ease-in-out;
}

&__title.hovered,
&__titleTwo.hovered {
    color: white; 
}
}
