.contenedorTextos{
    padding-top: 70px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap:25px
}

.tituloNuestroTrabajo{
    font-family: Manrope;
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.textoNuestoTrabajo{
    font-family: Manrope;
    font-weight: 300;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;   
}