.contenedorSuperior {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}

.contenedorLogoMarca{
    display: flex;
    justify-content: center;
    }

.Logo {
    height: 60px;
    z-index: 1
}

.marca{
    font-family: "Baumans", system-ui;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    margin-top: 10px;
    margin-left: 5px;
    z-index: 1
}

.estilosBotonNav{
    background-color: transparent; 
    border: none; 
    cursor: pointer;
    z-index: 3;
}