.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;

  &__logo-container {
    display: flex;
    align-items: center;
    z-index: 3;
  }

  &__logo {
    height: 80px;
  }

  &__brand {
    font-family: "Baumans", system-ui;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    margin-bottom: 10px;
    margin-left: 5px;
    z-index: 1;
  }

  &__menu-button {
    top: 20px;
    left:94%;
    position: fixed;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;
  }

  &__menu-img{
    width: 45px;
    height: 45px;
  }
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
}
.popup-menu {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}