.header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;

  &__logo-container {
    display: flex;
    align-items: center;
    z-index: 3;
  }

  &__logo {
    height: 80px;
  }

  &__brand {
    font-family: "Baumans", system-ui;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    margin-bottom: 10px;
    margin-left: 5px;
    z-index: 1;
  }

  &__menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
  }

  &__menu-img{
    width: 45px;
    height: 45px;
  }
}
