.about-us {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
  }

  &__title {
    color: #F2F2F2;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }

  &__text {
    color: #F2F2F2;
    font-family: "Manrope", sans-serif;
    font-weight: 700;
    line-height: 1.7;
    font-size: 22px;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }
}
