.about-us {
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  background-color: #F2F2F2;
    &__title {
      color: #DC0108;
      font-family: Manrope;
      font-weight: 900;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: uppercase;
    }
    &__text {
      color: #DC0108;
      font-family: Manrope;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.6;
      letter-spacing: 0%;
    }
  }