    .about-section {
    background-color: #2d2d2d;
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
    &__orange-position {
        padding-top: 30px;
    }
    &__orange-bar {
        background-color: #ff6b00;
        width: 850px;
        height: 180px;
        border: 2px solid #ff6b00;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    &__vision-box {
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 500px;
        height: 250px;
        background-color: #f4e3d7;
        border-radius: 20px;
        position: absolute;
        left: 200px;
        top: 120px;
        z-index: 0;
    }
    &__vision-heading {
        color: #dc0108;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 900;
        line-height: 100%;
        font-size: 25px;
        letter-spacing: 0%;
        text-transform: uppercase;
    }
    &__vision-text {
        color: #2d2d2d;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        line-height: 1.4; 
        font-size: 22px;
        letter-spacing: 0%;
    }
    &__teal-position {
        padding-top: 320px;
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
    }
    &__teal-bar {
        background-color: #01dcb7;
        width: 850px;
        height: 180px;
        border: 2px solid #01dcb7;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    &__mission-box {
        padding-top: 15px;
        padding-left: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 500px;
        height: 250px;
        background-color: #f4e3d7;
        border-radius: 20px;
        position: absolute;
        left: 750px;
        top: 400px;
        z-index: 0;
    }
    &__mission-heading {
        color: #ff6b00;
        font-family: "Sofia Sans", sans-serif;
        font-weight: 900;
        font-size: 25px;
        line-height: 100%;
        letter-spacing: 0%;
        text-transform: uppercase;
    }
    &__mission-text {
        color: #2d2d2d;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        line-height: 1.4; 
        font-size: 22px;
        letter-spacing: 0%;
    }
    }
